#Data Types and Structures Questions

1. What are data structures, and why are they important?
-> Data structures are ways of organizing and storing data so that they can be accessed and worked with efficiently. They are important because they provide a means to manage large amounts of data efficiently for uses such as large databases and internet indexing

2. Explain the difference between mutable and immutable data types with examples.
-> Mutable data types can be changed after their creation, while immutable data types cannot. Examples of mutable data types include lists and dictionaries, while examples of immutable data types include strings and tuples.

3. What are the main differences between lists and tuples in Python?
-> The main differences are: lists are mutable, whereas tuples are immutable; lists have variable length, whereas tuples have fixed length; lists have more built-in methods than tuples

4. Describe how dictionaries store data.
-> Dictionaries store data in key-value pairs. Each key is unique and is used to access its corresponding value.

5. Why might you use a set instead of a list in Python?
-> Sets are used when you need to ensure that all elements are unique. They also provide faster membership testing compared to lists

6. What is a string in Python, and how is it different from a list?
-> A string is a sequence of characters, while a list is a sequence of elements that can be of any type. Strings are immutable, whereas lists are mutable.

7. How do tuples ensure data integrity in Python?
-> Tuples ensure data integrity by being immutable, meaning their elements cannot be changed after creation.

8. What is a hash table, and how does it relate to dictionaries in Python?
-> A hash table is a data structure that maps keys to values using a hash function. In Python, dictionaries are implemented using hash tables.

9. Can lists contain different data types in Python?
-> Yes, lists can contain elements of different data types

10. Explain why strings are immutable in Python
-> Strings are immutable to ensure that they can be used as keys in dictionaries and elements in sets, which require their elements to be hashable and unchangeable.

11. What advantages do dictionaries offer over lists for certain tasks?
-> Dictionaries offer faster lookups for keys compared to lists. They also provide a way to associate related pieces of information using key-value pairs.

12. Describe a scenario where using a tuple would be preferable over a list.
-> Using a tuple would be preferable when you need an ordered collection of elements that should not change throughout the program, such as coordinates or fixed configuration settings.

13. How do sets handle duplicate values in Python?
-> Sets automatically remove duplicate values, ensuring that all elements are unique.

14. How does the “in” keyword work differently for lists and dictionaries?
-> For lists, the 'in' keyword checks if an element exists in the list. For dictionaries, it checks if a key exists in the dictionary.

15. Can you modify the elements of a tuple? Explain why or why not.
-> No, you cannot modify the elements of a tuple because tuples are immutable.

16. What is a nested dictionary, and give an example of its use case
-> A nested dictionary is a dictionary where some values are also dictionaries. Example use case: storing information about students where each student has their own dictionary containing details like name, age, and grades.

17. Describe the time complexity of accessing elements in a dictionary.
-> The average time complexity for accessing elements in a dictionary is O(1) due to the use of hash tables.

18. In what situations are lists preferred over dictionaries?
-> Lists are preferred when you need an ordered collection of elements or when you need to perform operations like slicing or iterating over elements in order.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
-> Dictionaries are considered unordered because they do not maintain any order for their key-value pairs. This means that the order of items when iterating over a dictionary may not match the order in which they were added.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
-> In lists, data retrieval is based on index positions, while in dictionaries, it is based on keys.

#Practical Questions

1. Write a code to create a string with your name and print it

In [2]:
name = "Your Name"
print(name)

Your Name

2. Write a code to find the length of the string "Hello World".

In [4]:
string = "Hello World"
print(len(string))

11

3. Write a code to slice the first 3 characters from the string "Python Programming".

In [5]:
string = "Python Programming"
print(string[:3])

Pyt

4. Write a code to convert the string "hello" to uppercase.

In [6]:
string = "hello"
print(string.upper())

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [9]:
string = "I like apple"
print(string.replace("apple", "orange"))

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it.

In [11]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [12]:
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [13]:
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [14]:
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

10.  Write a code to reverse the list [10, 20, 30, 40, 50].

In [23]:
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [15]:
my_tuple = (10, 20, 30)
print(my_tuple)

(10, 20, 30)

12. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [16]:
fruits = ('apple', 'banana', 'cherry')
print(fruits[0])

apple

13. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [17]:
numbers = (1, 2, 3, 2, 4, 2)
print(numbers.count(2))

3

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [18]:
animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

1

15. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [19]:
fruits = ('apple', 'orange', 'banana')
print('banana' in fruits)

True

16. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [20]:
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

17. Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [22]:
my_set = {1, 2, 3, 4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}

18. Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [24]:
my_tuple = (10, 20, 30)
print(my_tuple)

(10, 20, 30)

19. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [25]:
fruits = ('apple', 'banana', 'cherry')
print(fruits[0])

apple

20. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [ ]:
numbers = (1, 2, 3, 2, 4, 2)
print(numbers.count(2))

21. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [26]:
('dog', 'cat', 'rabbit')
print(animals.index('cat'))

1

22. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana')

In [27]:
fruits = ('apple', 'orange', 'banana')
print('banana' in fruits)

True

23. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [ ]:
my_set = {1, 2, 3, 4, 5}
print(my_set)

24. Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [29]:
my_set = {1, 2, 3, 4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}